 /* * {
   padding: 0;
   margin: 0;
 }

 .headerBalk {
   background-color: rgb(255, 0, 0);
   padding: 5px 10px;
 }

 .headerBalk ul {
   display: flex;
   align-items: center;
   gap: 20px;
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .headerBalk li {
   display: flex;
   align-items: center;
   gap: 20px;
 }

 .headerBalk a {
   text-decoration: none;
   color: inherit;
   display: flex;
   align-items: center;
   gap: 20px;
 }

 .logo,
 .profielIcon {
   width: 35px;
   height: auto;
 }

 .headerBalk ul li:last-child {
   position: absolute;
   right: 10px;
 }


 .sidebar {
   display: flex;
   height: calc(100vh - 60px);
   width: 150px;
   background-color: #f4f4f4;
   padding: 20px;
 }

 .admin-nav ul {
   list-style: none;
   padding: 0;
 }

 .admin-nav li {
   margin-bottom: 10px;
 }

 .admin-nav a {
   text-decoration: none;
   color: #333;
 }

 .admin-nav a.active {
   font-weight: bold;
   color: #007bff;
 }
 */
